/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
  /* Primary: Energy Blue */
  --ion-color-primary: #007aff;
  --ion-color-primary-rgb: 0, 122, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #006ae0;
  --ion-color-primary-tint: #1a87ff;

  /* Secondary: Active Teal */
  --ion-color-secondary: #00c2a8;
  --ion-color-secondary-rgb: 0, 194, 168;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #00aa93;
  --ion-color-secondary-tint: #1ac9b3;

  /* Tertiary: Pulse Purple */
  --ion-color-tertiary: #7c3aed;
  --ion-color-tertiary-rgb: 124, 58, 237;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #6b2fcb;
  --ion-color-tertiary-tint: #8f52f0;

  /* Success: Fresh Green */
  --ion-color-success: #30d158;
  --ion-color-success-rgb: 48, 209, 88;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #2ab94d;
  --ion-color-success-tint: #45d76a;

  /* Warning: Burn Orange */
  --ion-color-warning: #ff9500;
  --ion-color-warning-rgb: 255, 149, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e08300;
  --ion-color-warning-tint: #ffa31a;

  /* Danger: Intense Red */
  --ion-color-danger: #ff3b30;
  --ion-color-danger-rgb: 255, 59, 48;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e0342a;
  --ion-color-danger-tint: #ff5047;

  /* Light: Clean White */
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  /* Medium: Muscle Gray */
  --ion-color-medium: #8e8e93;
  --ion-color-medium-rgb: 142, 142, 147;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #7d7d82;
  --ion-color-medium-tint: #9d9da2;

  /* Dark: Strength Black */
  --ion-color-dark: #1c1c1e;
  --ion-color-dark-rgb: 28, 28, 30;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #19191a;
  --ion-color-dark-tint: #2c2c2e;
}
